@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body{
  font-family: 'Nunito', arial, sans-serif;
  font-size: 22px;
}

strong, b {
  font-family: 'Nunito', arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

body {background-color:#161616;}


h1 {font-size:2.2em; font-weight: 500; margin-top: 0px;margin-bottom: 10px; text-align: left;}
h2 {font-size:2.2em; font-weight: 500; margin-top: 2px; margin-bottom: 10px; text-align: center;}
p {
  font-size:1rem;
  font-weight: 100;
  margin: 0%;
  color: #f2f2f2;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

ul {
  margin-top: 0;
  font-weight: 100;
  margin-bottom: 1.5rem;
  color: #f2f2f2;
}

img {
  width: 100%;
  height: auto;
}

footer {
  width: 100%;
  padding-bottom: 3rem;
  margin-top: 2rem;
}

a,
a:visited,
a:focus
a:active {
  color: #f2f2f2;
  text-decoration: underline;
}

a:hover,
a:visited:hover,
a:focus:hover,
a:active:hover {
  color: #989898;
  text-decoration: underline;
}

.video-youtube, .video-vimeo {
  margin-bottom: 3rem;
}

.video-youtube iframe {
  width: 100%;
}

.header-center {text-align: center;}

.description {
   font-size:2.2rem;
   font-weight: 500;
   margin-top: 0px;
   margin-bottom: 3rem;
   text-align: left;
   line-height: 1.25;
   color: #f2f2f2;
  }

.description-sm {
  color:#f2f2f2;
   font-size:1.5rem;
   font-weight: 500;
   margin-top: 3rem;
   margin-bottom: 3rem;
   text-align: left;
   line-height: 1.25;
  }

.description .blue {color:#f2f2f2;}

nav.main {
  padding-top: 1.5rem;
  background-color:#161616;
}

nav.main .navbar-header {
  margin-left: 0;
  margin-right: 0;
}

nav.main .brand {
  vertical-align: top;
  padding-bottom: 1rem;
  letter-spacing: .1rem;
}

nav.navbar-default {
  border: none;
  letter-spacing: .075rem;
}

nav.main .navbar-collapse {
  border-top: 0px;
}

nav.main .navbar-toggle,
nav.main .navbar-toggle:active,
nav.main .navbar-toggle:focus,
nav.main .navbar-toggle:visited {
  height: 3rem;
  margin: 0;
  border: none;
  background: transparent;
}

nav.main .navbar-toggle:hover,
nav.main .navbar-toggle:active:hover,
nav.main .navbar-toggle:focus:hover,
nav.main .navbar-toggle:visited:hover {
  background-color: transparent;
}

nav.main .navbar-toggle .icon-bar {
  width: 1.5rem;
  height: 2px;
  background-color: #f2f2f2;
}

nav.main .navbar-toggle:hover .icon-bar {
  background-color: #989898;
}

nav.main a {
  font-family: 'Nunito', arial, sans-serif;
  height: 3rem;
  font-size: 0.8rem;
  line-height: 3;
  vertical-align: top;
}

nav.main a,
nav.main a:visited,
nav.main a:focus,
nav.main a:active {
  color: #f2f2f2 !important;
  text-decoration: none;
}

nav.main a:hover,
nav.main a:visited:hover,
nav.main a:focus:hover,
nav.main a:active:hover {
  color: #989898 !important;
}

nav.main .brand img {
  margin-top: -0.5rem;
  height: 3rem;
  width: auto;
}

nav.main .nav a {
  padding-top: 0;
  padding-bottom: 0;
}

nav .project {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

nav .row {
  margin-left: -10px;
  margin-right: -10px;
  display:flex;
  flex-wrap: wrap;
}

.video {
  width: 100%;
  height: 0;
  position: relative;
  overflow: hidden;
}

.video iframe {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.menu.projects a {
  color: green;
  position: relative;
  display: block;
}

@keyframes project-details-in {
  from { opacity: 0; filter: alpha(opacity=0); zoom: 1 }
  to   { opacity: 1; filter: alpha(opacity=100); zoom: 1 }
}

@-webkit-keyframes project-details-in {
  from { opacity: 0; filter: alpha(opacity=0); zoom: 1 }
  to   { opacity: 1; filter: alpha(opacity=100); zoom: 1 }
}

.menu.projects a .project-details {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: black;
  padding-top: 1rem;
  padding-left: 20px;
  padding-right: 20px;
  background: rgba(0, 0, 0, 0.65);

  opacity: 0;
  filter: alpha(opacity=0);
  zoom: 1;
}

.menu.projects a .project-title {
  color: #f2f2f2;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.menu.projects a .project-category {
  color: #f2f2f2;
  font-size: 0.8rem;
}

.menu.projects a:hover .project-details {
  -webkit-animation: 0.4s project-details-in;
  animation: 0.4s project-details-in;

  opacity: 1;
  filter: alpha(opacity=100);
  zoom: 1;
}

.menu li {
  color: #cc9900;
  font-size: 1rem;
  font-weight: 400;
  display: inline-block;
}

.menu-projects {
  padding: 0;
  list-style: none;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.menu-projects li {
  color: #cc9900;
  font-size:  1rem;
  font-weight: 400;
  padding-right: 1rem;
  display: inline-block;
  text-align: left;
}

.center-block {
  margin-left:auto;
  margin-right:auto;
  display:block;
}

footer .copyright {
  font-size: 0.8rem;
  margin: 0;
  line-height: 1;
}

footer .icon {
  color: #f2f2f2;
  font-size: 1.2rem;
  line-height: 22px;
}

footer div {
  vertical-align: text-bottom;
}

.logo {
  width: 60px;
}

.padding_0 {
  padding: 0;
}

.padding_right {
  padding-right: 20px;
}

.inline {
  display: inline;
}

.project-title {
  font-family: 'Nunito', arial, sans-serif;
  text-align: left;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  line-height: 1.25;
  color: #f2f2f2;


}

.project-category {
  text-align: left;
  font-size: 0.8rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1.5rem;
  letter-spacing: .075rem;
  text-decoration: none;
}

.project-description {
  font-size: 1rem;
  line-height: 1.5;
}

.project-description img {
  margin-bottom: 3rem;
}

.image_double {
  margin-bottom: 1.5rem;
}

.image_double img {
  margin-bottom: 1.5rem;
}

.project-images p{
  margin-top: 0;
  margin-bottom: 0;
}

img[alt="smaller"] {
  max-width:  200px;
  display: block;
}

@media (min-width: 768px) {

  .container-fluid {
    padding-right: 65px;
    padding-left: 65px;
  }

}
