/*

#title{} --> id / for just one object

.subtitle{} --> class / can be used for many

.menu {
	border: 1px solid red;
}
--> affects menu as a box

.menu li {
	border: 2px dotted green;
}
--> affects all the li elements inside this specific menu

li {color: blue;}
--> affects all the li elements

*/


h1 {font-size:2.9em; font-weight: 700; margin-top: 20px;margin-bottom: 10px;}
h2 {font-size:1.5em; font-weight: 300; margin-top: 0px; margin-bottom: 30px;}
p {font-size:0,7em; font-weight: 400; margin: 15%; color: #3e4042; margin-top: 50px; margin-bottom: 50px;}

.menu {
	padding: 0; display: inline-flex; list-style: none; margin-bottom: 40px;  margin-top: 10px;
}

.menu li {
	color:#cc9900; font-size:0,7em; font-weight: 400; padding-right: 20px;
}
