
<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ .Title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="icon.png">

    {{ partial "css.html" . }}
</head>
<body>

    {{ partial "header.html" . }}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 offset-xl-1 col-lg-4 col-md-4">
                <p><b>{{ .Params.ContactLabel}}</b><br>
                    <a href="mailto:{{ .Params.ContactEmailAddress }}?subject={{ .Params.ContactEmailSubject }}">
                        {{ .Params.ContactEmailText }}
                    </a>
                </p>
                <p><img src="../Dorota-ellery-studio.jpg" class="img-fluid"></p>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                {{ .Content }}
            </div>
        </div>
    </div>

    {{ partial "footer.html" . }}

</body>
</html>
