
<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ .Title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="icon.png">

    {{ partial "css.html" . }}
</head>
<body>

    {{ partial "header.html" . }}

    <div class="container-fluid">
        {{ partial "projects_menu.html" . }}
        {{ partial "lab_menu.html" . }}
    </div>

    {{ partial "footer.html" . }}

</body>
</html>
