<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ .Title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="apple-touch-icon" href="icon.png">

    {{ partial "css.html" . }}

    <script>
        function resizeIframeInterval(obj){
            console.log(obj.offsetWidth);
            var aspect = obj.contentWindow.document.getElementById("canvas").offsetWidth / obj.contentWindow.document.getElementById("canvas").offsetHeight;
            obj.contentWindow.document.getElementById("canvas").style.width = obj.offsetWidth + 'px';
            obj.contentWindow.document.style.height = obj.style.height = (obj.offsetWidth / aspect) + 'px';
        }

        function resizeIframe(obj){
            setInterval(resizeIframeInterval, 250, obj);
        }
    </script>
</head>

<body>

    {{ partial "header.html" . }}

    <div class="container">
      <h2 class="project-title">{{ .Title }}</h2>
      <p class="project-category">{{ .Params.Category }}</p>
    </div>
    <div class="project-description">
      {{ .Content }}
    </div>

    <div class="container-fluid">
      {{ partial "projects_menu.html" . }}
    </div>

    {{ partial "footer.html" . }}

</body>
</html>
