<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="{{ .Site.BaseURL }}assets/libs/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css?{{ now.Unix }}">
<link rel="stylesheet" href="/assets/libs/spotlight/spotlight.min.css">
