<footer>
    <div class="container-fluid">
        <div class="pull-left">
            <a href="https://www.linkedin.com/in/dorota-orlof-orlof-8138b8b2/">
                <i class="icon fab fa-linkedin-in padding_right"></i></a>
            <a href="https://www.instagram.com/dorkastrong/">
                <i class="icon fab fa-instagram"></i></a>
        </div>
        <div class="pull-right">
            <p class="copyright">&copy; Dorota Orlof {{ now.Format "2006" }}</p>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="{{ .Site.BaseURL }}assets/libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/main.js?v={{ now.Unix }}"></script>
<script src="https://player.vimeo.com/api/player.js"></script>
<script type="text/javascript" src="/assets/libs/spotlight/spotlight.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="{{ .Site.BaseURL }}assets/libs/bootstrap-3.3.7-dist/js/ie10-viewport-bug-workaround.js"></script>-->
