<script type="text/javascript">
	function openImage(imageDiv) {
	  const image = imageDiv.querySelector("img").cloneNode(true);
		const overlay = document.getElementById("labOverlay");
		overlay.replaceChild(image, overlay.getElementsByTagName("img")[0]);
		overlay.classList.remove("hidden");

	  overlay.addEventListener("click", () => {
	    overlay.classList.add("hidden");
			overlay.removeEventListener("click");
	  });
	}
</script>

<nav class="menu projects">
	<div class="row">
		{{ with .Site.GetPage "/lab" }}
			{{ range sort .Resources "Name" }}
				{{ $image := .Fill "1200x1200 Center" }}
				<div class="col-lg-3 col-md-4 col-sm-12 col-12 project">
					<a class="spotlight" href="{{ .RelPermalink }}">
    				<img src="{{ $image.RelPermalink }}">
						<div class="project-details">
							<div class="project-title"></div>
							<div class="project-category"></div>
						</div>
					</a>
				</div>
			{{ end }}
		{{ end }}
  </div>
</nav>
