<nav class="menu projects">
	<div class="row">
        {{ range sort .Site.Menus.projects ".Page.File.LogicalName" "desc" }}
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 project">
         		<a href="{{ .URL }}">
         			<img src="{{ .Page.Site.BaseURL }}projects/images/{{ .Page.Params.Image }}" class="img-fluid">
         			<div class="project-details">
         				<div class="project-title">{{ .Title }}</div>
         				<div class="project-category">{{ .Page.Params.Category }}</div>
         			</div>
         		</a>
     		</div>
        {{ end }}
    </div>
</nav>
