<!doctype html>
<html class="no-js" lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dorota Orlof's Portfolio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    Place favicon.ico in the root directory -->

    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />

    {{ partial "css.html" . }}
</head>
<body>

    {{ partial "header.html" . }}

    <div class="container-fluid">
        <div class="description">
            <div> {{ .Params.DescriptionA }}</div>
            <div class="blue"> {{ .Params.DescriptionB }}</div>
        </div>
        {{ partial "projects_menu.html" . }}
        <div class="description-sm">
        {{ .Params.DescriptionC }}
        </div>
        {{ partial "lab_menu.html" . }}
    </div>

    {{ partial "footer.html" . }}

    <style media="screen">
      #labOverlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.75);
        position: fixed;
        z-index: 999999;
        display: flex;
  justify-content: center;
  align-items: center;
      }
      #labOverlay img {
        width: 75%;
      }
      .hidden{
        display: none;
      }
    </style>
    <div id="labOverlay" class="hidden">
      <img alt="Hello">
    </div>

</body>
</html>
