<div class="container-fluid image_double">
  <div class="row">
    <div class="col-md-6">
      <img src="{{ .Get `src-a` }}" alt="{{ .Get `src-a` }}">
    </div>
    <div class="col-md-6">
      <img src="{{ .Get `src-b` }}" alt="{{ .Get `src-b` }}">
    </div>
  </div>
</div>
