<div class="container">
  <div class="video-youtube">
    <iframe width="720" height="405" src="https://www.youtube.com/embed/{{ .Get `id` }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
